.favorite {
  background-color: #1e2b35;
  width: 100%;

  &__main {
    direction: rtl;
    text-align: right;
    color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    padding: 7rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;

    &__left {
      width: 65%;
      padding: 1rem 2rem;
      border-radius: 8px;
      background-color: #2b2b2b;
      @media screen and (max-width: 970px) {
        width: 100%;
        padding: 1rem;
      }

      &__header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        &--title {
          font-size: 1.5em;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          color: #fff;
          margin: 0.5rem;
          @media screen and (max-width: 970px) {
            font-size: 1.3em;
          }
        }

        &--btn {
          border: 1px solid #ffffff !important;
          color: #ffffff;
          font-size: 1em;
          padding: 0.3rem 0.7rem;
          cursor: pointer;
          width: 7rem;
          height: 2.5rem;
          border-radius: 9rem;
          background-color: transparent;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-evenly;
          align-items: center;
          margin: 0.5rem;
          transition: all ease 0.3s;

          @media screen and (max-width: 970px) {
            width: 5rem;
            padding: 0.2rem;
          }

          &:hover {
            background-color: #636363;
          }

          &--svg {
            width: 1.5rem;
            height: 100%;
          }
        }
      }

      &__choice {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1rem;

        &__sectionmark {
          padding: 0.5rem 1rem;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;

          &__logo {
            width: 3rem;
            height: 3rem;
            padding: 0.6rem;
            border-radius: 50%;
            color: #b8b8b8;
            background-color: #393939;
            display: flex;
            align-items: center;
            justify-content: center;

            &--pic {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        &--text {
          color: #b8b8b8;
          font-size: 12px;
          font-size: 1em;
        }
      }
    }
  }
}
